# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/
coverage/

# Environment files
.env
.env.*.local

# IDE and editor configurations
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS-specific files
.DS_Store
Thumbs.db

# NPM package lock files (if you are using Yarn or another package manager)
package-lock.json
yarn.lock
